.autoplay-inner-btn {
  width: 100%;
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--accent-success),
    var(--accent-success-dark) 94%
  );
  margin: 10px 0;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: var(--text-primary);
  font-weight: bold;
}

.skip-input-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  cursor: pointer;
}

.skip-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #393b3f;
  border-radius: 5px;
  background-color: #393b3f;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.skip-checkbox:checked {
  background-color: #393b3f;
  border-color: var(--accent-success);
}

.skip-checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 4px;
}

.autoplay-modal {
  background-color: var(--bg-dark);
  padding: 15px;
  border-radius: 12px;
  max-width: 480px;
  width: 90%;
  max-height: 80%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  color: var(--text-primary);
  position: relative;
  animation: fadeInUp 0.3s ease-out;
  overflow-y: scroll;
}

.balance-limits-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
