.round-title,
.random-title {
  text-align: center;
  margin: 10px 0;
}

.rounds-grid-container,
.random-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.random-grid-container {
  height: 200px;
  overflow-y: scroll;
}

.rounds-grid-container button,
.random-grid-container button {
  background-color: #393b3f;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.autoplay-inner-btn {
  width: 100%;
  background-image: radial-gradient(circle at 50% 50%, #61a503, #2d7500 94%);
  margin: 10px 0;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}
