.balance-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #393b3f;
  border-radius: 10px;
  padding: 0 10px;
}

.balance-wrapper input {
  background-color: #38343c;
  color: var(--white);
  padding: 5px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .balance-wrapper input {
    width: 50px;
  }
}
