.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.random-btn {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--bg-dark-blue-lighter);
  border-radius: 20px;
  margin-right: 5px;
  border: 1px solid var(--border-dark);
  cursor: pointer;
}

.autoplay-bt img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.autoplay-bt {
  width: 100%;
  position: relative;
  background-color: var(--bg-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content-footer {
    flex-direction: column;
    gap: 10px;
  }
}
