.mines-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.mine-cell {
  background: #0d2b52;
  aspect-ratio: 5 / 4;
  border-radius: 10px;
  box-shadow: 0 3px 0 #07203b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  width: 100%;
}

.mine-cell:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.mine-dot {
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #3170ff, #0b2b4b);
  border-radius: 50%;
  opacity: 0.8;
}

.mine-cell.random-selected {
  border: 3px solid orange; /* Or any highlight you want */
  background-color: rgba(255, 165, 0, 0.2);
  cursor: default;
}
