.minesGame-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.minesGame-container {
  min-width: 900px;
}
.minesGame-container {
  width: 100%;
  max-width: 900px;
  min-width: 320px;
  background-color: #007bff;
  border-radius: 20px;
  border: 1px solid #f89414;
}
