.mines-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  min-width: 320px;
  margin: 20px auto;
}

.mine-cell {
  background: #0d2b52;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 3px 0 #07203b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.mine-cell:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.mine-dot {
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #3170ff, #0b2b4b);
  border-radius: 50%;
  opacity: 0.8;
}
