.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.play-btn {
  background-color: #2e2691;
  color: white;
  padding: 10px 40px;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 14px #d9dbe7;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.responsible-gaming {
  font-weight: 600;
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

.age-verification-text {
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 10px;
}

/* .modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
} */

.modal-confirm-btn {
  padding: 10px 30px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-right: 10px;
}

.modal-cancel-btn {
  padding: 10px 30px;
  border: 1px solid blue;
  background-color: transparent;
  color: blue;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-confirm-btn:hover,
.modal-cancel-btn:hover {
  background-color: #1e40af;
  color: white;
}

/* .modal-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #1f2937;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-buttons button:hover {
  background-color: #111827;
} */
